:root{
    --yellow: #fff591;
    --green: #a3f7bf;
    --blue: #05dfd7;
    --pink:#f35588;
}

body{
    background-color: var(--yellow);
    

}

h1 {
    text-align: center;
    font-family: 'Titillium Web', 'OpenSans';
    color: var(--pink);
    
}

#options {
    display: flex;
    flex-direction: row;
   justify-content: center;
}

#options img:hover{
    transform: scale(1.1, 1.1);
}

p, #result {
    text-align: center;
    font-size: xx-large;
    font-family: 'Titillium Web', 'OpenSans';
    color: var(--pink);
}
